 *{
        font-family: 'Poppins';
 }
#top_nav_wid{
    border-bottom: 2px solid #575E63;
}
#mm_lbl{
    font-size:30px;
}
#sys_lbl, #func_lbl, #data_lbl{
    font-size:24px;
}
#treadmill_ctl_wid, #exo_ctl_wid{
    background-color: #35363F;
    border-radius: 20px;
}
#connect_btn{
    background-color:#85CC17;
    color:#1D241F;
    border-radius: 12px;
}